h1 {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #FF2400;

}


p {
    text-align: center;
    font-size: medium;
}

body {
    background-color: #F3E8EA;
}